<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="updateprice" translate="label" sortOrder="15000">
      <label>Update Price</label>
    </tab>
    <section id="updateprice" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Settings</label>
      <tab>updateprice</tab>
      <resource>Update_Price::system_config</resource>
      <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General</label>
        <field id="threshold_value" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Threshold Value</label>
        </field>
      </group>
    </section>
  </system>
</config>

